<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2 fnt-disp-20-bld">Registro de usuario</h4>
                </header>
                <article class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="col form-group">
                                <label class="fnt-monts-14-bld">Nombre(s) </label>
                                <input type="text" class="form-control" placeholder="Lyria Fernanda">
                            </div> <!-- form-group end.// -->
                            <div class="col form-group">
                                <label class="fnt-monts-14-bld">Apellido(s)</label>
                                <input type="text" class="form-control" placeholder="González ">
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row end.// -->
                        <div class="form-group">
                            <label class="fnt-monts-14-bld">Correo Electrónico</label>
                            <input type="email" class="form-control" placeholder="lyriagonzalez@example.com">
                            <small class="form-text text-muted">Nunca compartiremos tu información con nadie.</small>
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" value="option1">
                                <span class="form-check-label fnt-monts-14-bld"> Hombre </span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" value="option2">
                                <span class="form-check-label fnt-monts-14-bld"> Mujer</span>
                            </label>
                        </div> <!-- form-group end.// -->
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="fnt-monts-14-bld">Ciudad</label>
                                <input type="text" class="form-control" placeholder="Chihuahua">
                            </div> <!-- form-group end.// -->
                            <div class="form-group col-md-6">
                                <label>Pais</label>
                                <select id="inputState" class="form-control">
                                    <option> Elegir...</option>
                                    <option>España</option>
                                    <option>Argentina</option>
                                    <option selected="">México</option>
                                    <option>Estados Unidos</option>
                                    <option>Canadá</option>
                                </select>
                            </div> <!-- form-group end.// -->
                        </div> <!-- form-row.// -->
                        <div class="form-group">
                            <label class="fnt-monts-14-bld">Crea una contraseña</label>
                            <input class="form-control" type="password">
                        </div> <!-- form-group end.// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Resgistrame </button>
                        </div> <!-- form-group// -->
                        <small class="text-muted">Al hacer clic en el botón 'Registrame' aceptas nuestra política de privacidad <br>
                             y términos de uso.</small>
                    </form>
                </article> <!-- card-body end .// -->
               
            </div> <!-- card.// -->
        </div> <!-- col.//-->

    </div> <!-- row.//-->


</div>
<!--container end.//-->
