<nav class="navbar navbar-expand-sm blueNav navbar-dark fixed-top">
    <a [routerLink]="['/login']" class="navbar-brand fnt-disp-bld">{{resName}}</a>
    <ul class="navbar-nav fnt-disp-rg">
        <li class="nav-item ">
            <a class="nav-link " [routerLinkActive]="['active']" [routerLink]="['/users']">Usuarios</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/register']">Registro</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/login']">Inicio de sesion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/404']"><i class="fa fa-bell-o"></i>Not found</a>
        </li>
    </ul>
</nav>

<div class="divPad">
    <router-outlet></router-outlet>
</div>