@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');

.navbar-nav .active {
    background: #2A394F;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 3px 0px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
    padding: 0rem 0rem;
}

.navbar-brand{
    padding: 0rem 1rem;
}
.fnt-disp-rg{
    font-family: 'Playfair Display',serif;
}
.fnt-disp-bld{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.fnt-monts-rg{
    font-family: 'Montserrat',serif;
}
.fnt-monts-bld{
    font-family: 'Montserrat', serif;
    font-weight: bold;
}

.navbar-expand-sm{
    justify-content:space-between;
}
.blueNav{
    background: #455772;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 40px;
}
.divPad{
    padding-top: 65px;
}
i {
    padding-left: 10px;
    padding-right: 10px;
    
}
.active i{
    color: #15A4FA;
}